extends layout 

block content
h1= title 
hr
if items.length === 0
for(action="", method="post")
input(type="submit", value="Delete")
else 
h2 You have to delete these items first 
ul 
each item in items 
a(href=item.url)  #{item.name}
br